@import '../stylesheets/color.scss';

.page-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 65%;
    padding: 3em 1em;
    background-color: $eclaire-mustard-light;
}
.page-container {
    display: flex;
    flex-direction: row;
    background-color: $eclaire-dark-grey-translucent;
}