@import '../stylesheets/color.scss';

.page-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 1em;
}
.page-container {
    display: flex;
    flex-direction: row;
}