@import '../stylesheets/color.scss';

body {
  margin: 0px;
}
.main-title {
    font-family: nazare, sans-serif;;
    color: $eclaire-mustard;
    font-size: 3em;
    padding-bottom: 0.5em;
    text-decoration: none;
}
.main-title-container {
  text-align: center;
  margin: 2em 0em;
}
.custom-button.btn {
  display: block;
  color: $eclaire-mustard;
  border: 2px solid $eclaire-orange;
  border-radius: 0.3em;
  width: 95%;
  font-size: 1.4em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  font-size: 1.6em;
}
.custom-button.btn:hover {
  color: $eclaire-orange;
  border: 2px solid $eclaire-orange;
}
.activeLink {
  background-color: $eclaire-orange;
}
.activeLink.btn:hover {
  background-color: $eclaire-orange;
  color: $eclaire-mustard;
}
.nav-left-pane {
  width: 35%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 3em;
  background-color: $eclaire-dark-grey-translucent;
}
#navigation {
  display: flex;
  flex-direction: column;
}
.navigation-link {
  display: block;
  width: 90%;
  margin: 1.5em 0em;
}
@font-face {
  font-family: nazare, sans-serif;;
  src: url("https://use.typekit.net/oai1koi.css");
}
.pageSlider-exit > .page {
  z-index: 1;
}
.pageSlider-enter > .page {
    z-index: 10;
}
.pageSlider-enter.left > .page {
    transform: translate3d(100%, 0, 0);
}
.pageSlider-enter.right > .page {
    transform: translate3d(-100%, 0, 0);
}
.pageSlider-exit.left > .page {
    transform: translate3d(-100%, 0, 0);
}
.pageSlider-exit.right > .page {
    transform: translate3d(100%, 0, 0);
}
.pageSlider-enter.pageSlider-enter-active > .page {
    transform: translate3d(0, 0, 0);
    transition: all 800ms ease-in-out;
}
.message-error {
  color: red;
  padding-bottom: 0.5em;
}
.message-success {
  color: green;
}
.subscribe-email-input {
  color: $eclaire-dark-grey;
  border: 2px solid $eclaire-orange;
  border-radius: 0.3em;
  font-size: 1.2em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0.5em;
}
.subscribe-form-submit-button {
  background-color: $eclaire-mustard;
  color: black;
  border: 2px solid $eclaire-orange;
  border-radius: 0.3em;
  font-size: 1.2em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  margin-left: 0.5em;
}
.subscribe-form-submit-button:hover {
  background-color: $eclaire-orange;
}
.mailing-list {
  background-color: $eclaire-dark-blue;
  opacity: 1;
  padding: 1.5em 1em;
  border: 2px solid $eclaire-blue;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2em;
}
.mailing-list-title {
  font-size: 1.5em;
  color: $eclaire-white;
  font-family: nazare, sans-serif;;
}
.mailing-list-description {
  font-size: 1em;
  padding: 0.5em 0em 1em 0em;
  color: $eclaire-mustard;
}
hr {
  background-color: $eclaire-dark-grey;
}