@import '../stylesheets/color.scss';

.show-info-container {
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    color: $eclaire-dark-grey;
}
.show-info-details {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
}
.show-info-image {
    flex: 0 0 150px;
}
.show-info-block {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.show-info-date-time {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-size: 1.3em;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 1em;
    
    opacity: 0.9;
}
.show-info-address {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.show-info-description {
    padding-bottom: 0.5em;
    flex: 1.5;
    align-self: flex-end;
}
.month-marker {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    color: $eclaire-dark-grey;
    opacity: 0.9;
}
.band-logo-alt-text {
    font-family: arbotek, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    padding: 0em 0.5em;
}
